src/main/mule/sampple.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ef499d02-2e47-4b74-aa31-fb7630e274ea" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f8801e71-8c1f-4528-97d0-0335e1a3bbf8" >
		<http:request-connection protocol="HTTPS" host="jsonplaceholder.typicode.com" />
	</http:request-config>
	<flow name="Copy_of_testFlow" doc:id="3447295e-8b53-468c-939d-f1dc50c7fa2e" >
		<http:listener doc:name="Copy_of_Listener" doc:id="1fa3e9fe-f823-4343-bd05-54d7339eed7a" config-ref="HTTP_Listener_config" path="/callingExternalAPi/{endPoint}" />
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="7e282822-b059-4931-b596-1637ed5905bc" message="flow started" />
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="6fde4b8f-00c8-4ca5-a792-d5a31d2c8d20" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"endpoint" : attributes.uriParams.endPoint
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="e62d2c78-8b20-49d6-86d7-1e5a225f1ffd" config-ref="HTTP_Request_configuration" path='#["/" ++ attributes.uriParams.endPoint]'/>
		<ee:transform doc:name="Transform Message" doc:id="f8f8e269-06d9-414f-b6c8-0371f11c7c3a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"secons red"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Copy_of_samppleFlow1" doc:id="4abc9456-fa91-48fd-97d7-3b8baff9871b" >
		<http:listener doc:name="Listener" doc:id="1ce4ba43-b0a0-4036-8385-6fa010e8ad7d" config-ref="HTTP_Listener_config" path="/callingExternalAPiusingURIPARAMS/{endPoint}" />
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="5d984acf-3b49-41fe-bbfd-30e313ca2485" message="flow started" />
		<http:request method="GET" doc:name="Copy_of_Request" doc:id="e18a5bcd-aa5e-45f6-85fa-e96206e83498" config-ref="HTTP_Request_configuration" path='/{endpoint}' >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	endpoint :  attributes.uriParams.endPoint
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
